---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import SocialPill from "../components/SocialPill.astro";
---

<Layout title="Portafolio de David Robles">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img
				class="rounded-full w-12 h-12 mb-4"
				src="./images/1614820034508.jpeg"
				alt="david"
			/>
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey, I'm David <div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/david-guillermo-robles-s%C3%A1nchez-1b5942138/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge
							>Listo para una nueva experiencia profesional</Badge
						>
					</a>
				</div>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				<span class="text-yellow-200/90 opacity-80"
					>+7 años de experiencia.</span
				> Desarrollador full stack. De México 🌮🌵. Especializado en soluciones
				web.
			</h2>
			<nav class="flex gap-x-2 my-4">
				<SocialPill href="www.google.com" >
					<LinkedInIcon class="w-6 h-6 "/>
					LinkedIn
				</SocialPill>
				<SocialPill href="www.google.com"l>
					<GithubIcon class="w-6 h-6 "/>
					GitHub
				</SocialPill>
			</nav>

		</section>
	</main>
</Layout>
